{% extends 'layout.html.twig' %}

{% block content %}
    {% include 'components/_formAddCompany.html.twig' %}
    <div class="container" id="chart">
        <canvas id="myChart" width="200" height="200" data-name="{{ name_advancements|join(',') }}" data-stat="{{ stats|join(',') }}" data-admin="1"></canvas>
    </div>
    <div class="container d-flex flex-column flex-md-row justify-content-between my-5">
        <div class="card col-12 col-md-5 mb-5 mb-sm-0">
            <div class="card-body">
                <h2 class="card-title text-center border-bottom fs-1 fw-bolder text-primary">{{ recommendating_companies|length }}</h2>
                <h5 class="text-center">Liste des entreprises recommandées</h5>
                <ul class="list-group">
                    {% for company in recommendating_companies %}
                        <li class="list-group-item">{{ company.name|capitalize }} est recommandée par {{ company.nb_user_recommendating }} personne{{ recommendating_companies|length == 1 ? 's' : '' }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="card col-12 col-md-5">
            <div class="card-body">
                <h2 class="card-title text-center border-bottom fs-1 fw-bolder text-primary">{{ all_interesting|length }}</h2>
                <h5 class="text-center">Liste des entreprises en sourcing</h5>
                <ul class="list-group">
                    {% for company in all_interesting %}
                        <li class="list-group-item">{{ company.name|capitalize }} est suivie par {{ company.nb_user_interessing }} personne{{ all_intessing|length == 1 ? 's' : '' }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.6.0/dist/chart.min.js"></script>
<script src="assets/js/chart.js"></script>
<script src="assets/js/autocomplete.js"></script>
{% endblock %}