{% extends 'layout.html.twig' %}
{% block content %}
<div class="pt-5">
    {% include 'components/_formAddCompany.html.twig' %}
<div class="container mb-5">
    <div class="d-flex justify-content-center">
        <form class="d-flex align-items-center col-8 col-md-3" method="get">
            <div class="mb-3">
                <label for="disabledSelect" class="form-label col-md-4 col-md-offset-4"></label>
                <select id="disabledSelect" name="advancement" class="form-select">
                    <option value="" >Tous</option>
                      {% for advancement in advancements %}
                        <option value="{{ advancement.name }}" {{ advancement.name == test ? "selected":"" }}>
                            {{ advancement.name }}
                        </option>
                    {% endfor %}
                </select>
            </div>
            <div class="mt-2 p-2">
                <button type="submit" class="btn">Modifier</button>
            </div>
        </form>
    </div>
    <div class="container mt-5">
        <ul class="formadd list-group">
            {% for company in user_companies  %}
                {% if company.is_recommendating == false %}
                    <li class="list-group-item d-flex justify-content-around align-items-center flex-column flex-md-row">
                        <div class="col-8 col-md-3 text-center">
                            <h5>
                                    <a href="/entreprise?id={{ company.id }}" class="nav-link longName">
                                    {{ company.name }}
                                </a>
                            </h5>
                        </div>
                        <form class="d-flex align-items-center col-8 col-md-3 justify-content-evenly justify-content-md-center" method="post">
                            <div class="mb-3 col-6">
                                <label for="disabledSelect" class="form-label col-md-4 col-md-offset-4"></label>
                                <input type="hidden" name="company-id" value="{{ company.id }}">
                                <select id="disabledSelect" name="advancement" class="form-select company-level" data-id="{{ company.id }}" data-user="{{ session.user.id }}">
                                    {% for advancement in advancements %}
                                        <option value="{{ advancement.id }}" {{ company.advancement_name == advancement.name ? 'selected' : '' }}>
                                            {{ advancement.name }}
                                        </option>
                                     {% endfor %}
                                </select>
                            </div>
                            <div class="ms-4 text-success checked col-2"></div>
                        </form>
                        <div class="progress col-8 col-md-2">
                            <div class="progress-bar progress-bar-striped {{
                                (company.level == advancements | length) ? 'bg-danger' :
                                (company.level == advancements | length - 1 ) ? 'bg-success'
                                }}" role="progressbar" style="width: {{ company.level / (advancements | length - 1)  * 100 }}%"
                                 aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                            </div>
                        </div>
                        <div class="nav-link col-8 col-md-2 text-center">
                            <i class="fas fa-hands-helping fa-2x  {{ (company.count_recommendating == 0) ? 'no-recommendating' : ''}}"></i>
                            <span class="badge bg-primary ms-2">
                                {{ company.count_recommendating }}
                            </span>
                        </div>
                        {% include 'components/_trash.html.twig' %}
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
{% block javascript %}
<script src="assets/js/autocomplete.js"></script>
<script src="assets/js/request.js"></script>
{% endblock %}