<form method="post" action="/ajoutEntreprise" class="d-flex justify-content-center p-5 mt-5">
    <div class="formadd border border-2 rounded bg-light p-3 col-12 col-sm-10 col-md-8 col-lg-4 d-flex flex-column justify-content-center">
        <p><i class="fas fa-plus-square fa-3x d-flex justify-content-center"></i></p>
        <h2 class="d-flex justify-content-center">Ajout d'entreprises</h2>
        {% if errors is not empty %}
            <div class="alert alert-danger text-center">
                {{ errors.error | first }}
            </div>
        {% endif %}
        {% if success|length > 0 %}
            <div class="alert alert-success text-center">
                {{ success }}
            </div>
        {% endif %}
        {% if recommendations|length > 0 %}
            {{ recommendations.full_name.join(' ', ' et ') }}
            <div class="alert alert-success text-center">
                {% for recommendation in recommendations %}
                    {{ recommendation.full_name }} {{ loop.index == recommendations|length - 1 ? ' et ' : ' ' }}
                {% endfor %}
                {{ recommendations|length > 1 ? 'ont' : 'a' }} des connaissances dans cette entreprise
            </div>

        {% endif %}
        <div class="m-2">
            <label for="company" class="form-label">Entre une entreprise</label>
            <input type="text" name="name" class="form-control" id="company" data-name="{{ companies|join(',') }}">
            <ul class="list-group position-absolute" id="autocompletion"></ul>
        </div>
        {% if session.user.is_admin == false %}
            <div class="m-2">
                <input type="checkbox" name="is_recommendating" class="form-check-input" id="is_recommendating">
                <label class="form-check-label" for="exampleCheck1">J'ai des relations dans cette entreprise</label>
            </div>
        {% endif %}
        <div class="text-center"><button type="submit" class="btn mt-4">Ajouter</button></div>
    </div>
</form>